
    {% extends "base.html" %}
    {% block body %}
    <script
    src="http://localhost:5006/bokeh/autoload.js/f1fa4188-c4c5-4a96-8888-f9ef1ef823b8"
    id="f1fa4188-c4c5-4a96-8888-f9ef1ef823b8"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="48e501a9-c0d7-42a4-9967-0009c5c8f136"
    data-bokeh-root-url="http://localhost:5006/"
    data-bokeh-docid="56fd4e94-cc21-4c50-a6a4-26f502a9f3ee"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
    {% endblock %}
    