
    {% extends "base.html" %}
    {% block body %}
    <script
    src="http://localhost:5006/bokeh/autoload.js/82dd23ec-384f-47b9-9ded-2db42faa2891"
    id="82dd23ec-384f-47b9-9ded-2db42faa2891"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="2caeed07-9fd5-4c5c-8a0b-e555b28d3610"
    data-bokeh-root-url="http://localhost:5006/"
    data-bokeh-docid="f059f004-3f69-4bd3-a129-04f7041e296b"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
    {% endblock %}
    