
    {% extends "base.html" %}
    {% block body %}
    <script
    src="http://localhost:5006/bokeh/autoload.js/c9b0a1b0-61b1-4a53-81c9-edaeb2e293fa"
    id="c9b0a1b0-61b1-4a53-81c9-edaeb2e293fa"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="6cf2c229-6b34-4753-99d5-ddfdf9ff4c38"
    data-bokeh-root-url="http://localhost:5006/"
    data-bokeh-docid="37d634d9-6a51-4bda-a852-204ed4e0e3ee"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
    {% endblock %}
    