
    {% extends "base.html" %}
    {% block body %}
    <script
    src="http://localhost:5006/bokeh/autoload.js/4274e7ea-8dd8-4fbc-b07b-a0d4a3ec8295"
    id="4274e7ea-8dd8-4fbc-b07b-a0d4a3ec8295"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="d351bf47-ab4b-4e7e-877f-78fe570a0101"
    data-bokeh-root-url="http://localhost:5006/"
    data-bokeh-docid="adab40df-e35c-4ab3-8d55-b991f282387a"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
    {% endblock %}
    