
    {% extends "base.html" %}
    {% block body %}
    <script
    src="http://localhost:5006/bokeh/autoload.js/d034960c-b984-4cd7-bae9-e0079764e786"
    id="d034960c-b984-4cd7-bae9-e0079764e786"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="f4128277-95ba-46ed-bc92-4f63f361f4d9"
    data-bokeh-root-url="http://localhost:5006/"
    data-bokeh-docid="5744effc-c543-4779-9a13-1929f3f36d73"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
    {% endblock %}
    