
    {% extends "base.html" %}
    {% block body %}
    <h2> Last Updated: 2016-04-19 17:04:04 </h2>
    <br>
    <script
    src="http://localhost:5006/bokeh/autoload.js/582b2db9-4718-4c9d-98db-1fce7a73e65a"
    id="582b2db9-4718-4c9d-98db-1fce7a73e65a"
    async="true"
    data-bokeh-data="server"
    data-bokeh-modelid="82aa6173-a860-42d4-a770-31df7c9065eb"
    data-bokeh-root-url="http://localhost:5006/"
    data-bokeh-docid="061ce872-ba07-4f12-abfd-f5d8ebd3deca"
    
    data-bokeh-public="true"
    
    data-bokeh-loglevel="info"
></script>
    {% endblock %}
    